h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .psw{
    text-align: center;
  }
   body {
              background: linear-gradient(to right, #99FFFF, #FFCCFF);
              background-repeat: no-repeat;
              background-attachment: fixed;
          }